{% extends "base.html" %} {% block content %}
<h1>Welcome to Colearner</h1>
<p>Your platform for collaborative learning.</p>

<div>
    <a href="{% url 'create_room' %}">Create Room</a>
  <h2>Available Rooms</h2>
  <div>
    <b><h3>Total Rooms: {{ rooms_count }}</h3></b>
    {% for room in rooms %}
    <div>
        <a href="{% url "room" room.id%}">{{room.id}} . {{ room.name }}</a>
        <br>
        <span>@{{room.host}}</span>
        <p><b>Topic</b> :{{room.topic}}</p>
        <a href="{% url "update_room" room.id %}">Update Room</a>
        <a href="{% url "delete_room" room.id %}">Delete Room</a>
    </div>
    <br>
    {% endfor %}
    <div>
        <h3>Topics</h3>
        <div>
            <a href="{% url 'home' %}">All Topics</a><br>
        </div>
        <div>
            {% for topic in topics %}
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a><br>
            {% endfor %}
        </div>
    </div>
  </div>
</div>

{% endblock %}
